<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | {{ constant('API').ADMIN_SITE_NAME }}</title>
    {% set css = constant('API').EXTERNAL_CSS %}
    {% for href in css %}<link rel="stylesheet" href="{{ href }}">{% endfor %}
{#{% include "admin/styles.html.twig" %}#}
</head>
<body>
    {% if error %}
    <div class="error message">
        {{ error }}
    </div>
    {% endif %}
    {% if message %}
    <div class="{{ message_type }} message">
        {{ message }}
    </div>
    {% endif %}

    {% block bodyStart %}
{# Länk för tillgänglighet #}
    <a class="skip-link" href="#main-content">Hoppa till huvudinnehållet</a>
    {% endblock %}

    {% block header %}
        {% include "admin/header.html.twig" %}
    {% endblock %}

{# Huvudinnehåll #}
    <main id="main-content" {% block mainAttr %}{% endblock %}>

        {% block mainContent %}{% endblock %}

    </main>

{% include "admin/scripts.html.twig" %}
</body>
</html>
