<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ adminBaseStyles }}">
    {% include "admin/styles.html.twig" %}
</head>
<body>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div class="{% if message_type == 'success' %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    {% block bodyStart %}
{# Länk för tillgänglighet #}
    <a class="skip-link" href="#main-content">Hoppa till huvudinnehållet</a>
    {% endblock %}

    {% block header %}
        {% include "admin/components/header.html.twig" %}
    {% endblock %}

{# Huvudinnehåll #}
    <main id="main-content" {% block mainAttr %}{% endblock %}>

        {% block mainContent %}{% endblock %}

    </main>
</body>
</html>
