{% extends "admin/base.html.twig" %}

{% set this_page = '/admin' %}
{% set types = {
    'film': 'Film',
    'short': 'Kortfilm',
    'episode': 'Avsnitt',
    'season': 'Säsong',
    'series': 'Serie',
    'miniseries': 'Miniserie',
} %}

{% block mainContent %}
    <article>
        <h1>Sven Admin</h1>

        <details open>
            <summary><h2>Snabbstart</h2></summary>
            <details open>
                <summary><h3>Snabbinmatning</h3></summary>
                <p>Filmer inmatade här är dolda tills du aktivt valt att publicera dem.</p>
                <form method="post" action="/admin/movies/add">
                    <input type="hidden" name="form_redirect" value="{{ this_page }}?quick=1">
                    <fieldset>
                        <legend>Ny film</legend>
                        <div class="form-row">
                            <label for="add-movie-type">Typ
                                <select type="text" id="add-movie-type" name="type" required>
                                    {% for value, label in types %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label for="add-movie-title">Titel
                                <input required name="title" id="add-movie-title" type="text">
                            </label>
                            <label for="add-movie-year">År
                                <input type="number" min="1888" max="2099" size="4" name="year" id="add-movie-year">
                            </label>
                        </div>
                        <div class="form-row">
                            <label for="rating" class="rating-selector">Betyg
                                <input type="number" min="0" max="100" size="3" name="rating" id="rating">
                                <div class="range-labels">
                                    <input type="range" id="rating-slider" list="main-ratings">
                                    <datalist id="main-ratings">
                                        <option value="0" label="-"></option>
                                        <option value="20" label="+"></option>
                                        <option value="40" label="++"></option>
                                        <option value="60" label="+++"></option>
                                        <option value="80" label="++++"></option>
                                        <option value="100" label="+++++"></option>
                                    </datalist>
                                </div>
                            </label>
                        </div>
                        <button type="submit">Mata in</button>
                    </fieldset>
                </form>
            </details>
            <details open>
                <summary><h3>Dolda filmer ({{ hiddenMovies|length }})</h3></summary>
                <p>Det finns {{ hiddenMovies|length }} som ännu inte publicerats.</p>
                <div class="button-list">
                {% for movie in hiddenMovies %}
                    <button class="movie {{ movie.type }}" popovertarget="edit-form-{{ movie.id }}">{{ movie.title }}</button>
                {% endfor %}
                </div>
            </details>
        </details>

        <details open>
            <summary><h2>Databas</h2></summary>
            <ul>
                <li><a href="/admin/genres"><button>Genrer</button></a></li>
                <li><a href="/admin/films"><button>Filmer</button></a></li>
                <li><a href="/admin/series"><button>Serier</button></a></li>
                <li><a href="/admin/persons"><button>Personer</button></a></li>
            </ul>
        </details>

    </article>
{% endblock %}
