{% extends "admin/base.html.twig" %}

{% set this_page = '/admin/films' %}
{% set types = {
    'film': 'Film',
    'short': 'Kortfilm',
} %}

{% block mainContent %}

    <article>
        <h1>Filmer</h1>

        <details>
            <summary><h2>Lägg till ny</h2></summary>
            <form method="POST" action="/admin/movies/add">
                <input type="hidden" name="form_redirect" value="{{ this_page }}">
                <fieldset>
                    <legend>Grunduppgifter</legend>
                    <div class="form-row">
                        <label for="type">Typ
                            <select type="text" id="type" name="type" required>
                                {% for value, label in types %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label for="title">Titel
                            <input type="text" id="title" name="title" size="24" required>
                        </label>
                    </div>

                    <button type="submit">Lägg till film</button>
                </fieldset>
            </form>
        </details>

        <details open>
            <summary><h2>Redigera filmer</h2></summary>

                <form class="filter" method="GET" action="{{ this_page }}">
                    <fieldset>
                        <legend>Filter</legend>
                        <div class="form-row">
                            <label for="search">Sökord
                                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
                            </label>
                            <label for="filter-type">Typ
                                <select id="filter-type" name="type" required>
                                    {#<option value="all" {% if params.type == 'all' %}selected{% endif %}>Alla</option>#}
                                {% for value, label in types %}
                                    <option value="{{ value }}" {% if params.type == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>
                            </label>
                            <label for="filter-year">År
                                <input type="number" size="4" min="1888" max="2099" id="filter-year" name="year" {% if params.year %}value="{{ params.year }}"{% endif %}>
                            </label>
                            <label for="filter-rating">Betyg
                                <input disabled type="number" size="3" min="0" max="100" id="filter-rating" name="rating" {% if params.rating %}value="{{ params.rating }}"{% endif %}>
                            </label>
                            <label for="filter-hidden">
                                <input type="checkbox" id="filter-hidden" name="hidden" {% if params.hidden %}checked{% endif %}>
                            Endast dolda</label>
                        </div>

                        <div class="form-actions">
                            <button type="submit">Visa lista</button>
                            <a href="{{ this_page }}" class="form-reset">Rensa filter</a>
                        </div>
                    </fieldset>
                </form>

                {% if params.type != '' %}
                <fieldset>
                    <legend><h3>{{ movies|length }} filmer</h3></legend>
                    <div class="button-list">
                    {% for movie in movies %}
                        <button class="movie {{ movie.type }}" popovertarget="edit-form-{{ movie.id }}">{{ movie.title }}</button>
                    {% endfor %}
                    </div>
                </fieldset>
                {% endif %}
        </details>

        {% for item in movies %}
{% include "admin/components/edit-film.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
