{% extends "admin/base.html.twig" %}

{% set this_page = '/admin/films' %}
{% set types = constant('OPT').MOVIE_TYPES.FILMS %}

{% block mainContent %}

    <article>
        <h1>Filmer</h1>

                <form class="filter" method="GET" action="{{ this_page }}">
                    <details open>
                        <summary>Filter</summary>
                        <div class="form-row">
                            <label for="search">Sökord
                                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
                            </label>
                            <label for="filter-type">Typ
                                <select id="filter-type" name="type" required>
                                    {#<option value="all" {% if params.type == 'all' %}selected{% endif %}>Alla</option>#}
                                {% for value, label in types %}
                                    <option value="{{ value }}" {% if params.type == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>
                            </label>
                            <label for="filter-year">År
                                <input type="number" size="4" min="1888" max="2099" id="filter-year" name="year" {% if params.year %}value="{{ params.year }}"{% endif %}>
                            </label>
                            <label for="filter-rating">Betyg
                                <input type="number" size="3" min="0" max="100" id="filter-rating" name="rating" {% if params.rating %}value="{{ params.rating }}"{% endif %}>
                            </label>
                            <label for="filter-hidden">
                                <input type="checkbox" id="filter-hidden" name="hidden" {% if params.hidden %}checked{% endif %}>
                            Endast dolda</label>
                        </div>

                        <div class="actions">
                            <button type="submit">Visa lista</button>
                            <a href="{{ this_page }}" class="form-reset">Rensa filter</a>
                        </div>
                    </details>
                </form>

        <div class="button-list">

            {% set pop_id = "add-film-dlg" %}
            <button class="add" id="add-film-button" popovertarget="{{ pop_id }}">+</button><label for="add-film-button">Lägg till ny</label>
            {% include "admin/forms/add-film.html.twig" %}

            {% if movies|length > 0 %}<div class="counter">{{ movies|length }}</div>{% endif %}

            <div class="items">
            {% for item in movies %}
            <button class="vip {{ item.type }}" popovertarget="edit-form-{{ item.id }}">{{ item.title }}</button>
            {% include "admin/forms/edit-film.html.twig" %}
            {% endfor %}
            </div>
        </div>

    </article>

{% endblock %}
