{% extends "admin/base.html.twig" %}

{% block mainContent %}

    {% if message %}
        <div class="{% if message_type == 'success' %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    <article>
        <h1>Genrer</h1>

        <form method="POST" action="/admin/genres/add">
            <fieldset>
                <legend>Lägg till genre</legend>
                <div class="form-row">
                    <label for="sv">Svenska
                        <input type="text" id="sv" name="sv" required>
                    </label>
                    <label for="en">Engelska
                        <input type="text" id="en" name="en" required>
                    </label>
                </div>
                <div class="form-row">
                    <label for="common">
                        <input type="checkbox" id="common" name="common" value="1">
                    Vanlig</label>
                    <button type="submit">Lägg till</button>
                </div>
            </fieldset>
        </form>

        {% if genres|length > 0 %}
        <fieldset>
            <legend>Redigera genrer</legend>
            <div class="button-list">
            {% for genre in genres %}
                <button popovertarget="edit-form-{{ genre.id }}" style="anchor-name: --anchor-genre-{{ genre.id }}"
                {% if genre.common %}class="common"{% endif %}>{{ genre.sv }}</button>
            {% endfor %}
            </div>
        </fieldset>

            {% for genre in genres %}
            <div id="edit-form-{{ genre.id }}" popover style="position-anchor: --anchor-genre-{{ genre.id }}" class="button-list-form">

                <form method="POST" action="/admin/genres/update">
                    <input type="hidden" name="genre_id" value="{{ genre.id }}">
                    <fieldset>
                        <legend>Redigera genre</legend>

                        <div class="form-group">
                            <label for="edit-sv-{{ genre.id }}">Svenska</label>
                            <input type="text" id="edit-sv-{{ genre.id }}" name="sv" value="{{ genre.sv }}" required>
                        </div>

                        <div class="form-group">
                            <label for="edit-en-{{ genre.id }}">Engelska</label>
                            <input type="text" id="edit-en-{{ genre.id }}" name="en" value="{{ genre.en }}" required>
                        </div>

                        <div class="form-group">
                            <label for="edit-common-{{ genre.id }}">Markera som vanlig
                                <input type="checkbox" id="edit-common-{{ genre.id }}" name="common" value="1" {% if genre.common %}checked{% endif %}>
                            </label>
                        </div>

                        <button type="submit">Spara</button>
                    </fieldset>

                </form>

                <form method="POST" action="/admin/genres/delete" onsubmit="return confirm('Säkert att du vill ta bort genren {{ genre.sv }}?');">
                    <input type="hidden" name="genre_id" value="{{ genre.id }}">
                    <fieldset>
                        <legend>Radera genren {{ genre.sv }}?</legend>
                        <button type="submit" class="delete">Ta bort</button>
                    </fieldset>
                </form>
            </div>
            {% endfor %}

        {% endif %}

    </article>

{% endblock %}
