{% extends "admin/base.html.twig" %}

{% block mainContent %}

    <article>
        <h1>{{ pageTitle }}</h1>

        {% set pop_id = "new-genre-dlg" %}
        {% include "admin/forms/new-genre.html.twig" %}

        <div class="button-list">

            <button class="add" id="new-genre-button" popovertarget="{{ pop_id }}">+</button><label for="new-genre-button">Lägg till ny</label>

            <div class="counter">{{ genres|length }}</div>

            <div class="items">

            {% for item in genres %}
            {% set pop_id = "edit-form-" ~ item.id %}
            <button popovertarget="{{ pop_id }}"
            {% if item.common %}class="common"{% endif %}>{{ item.sv }}</button>
            {% endfor %}
            </div>
        </div>

        {% for item in genres %}
        {% set pop_id = "edit-form-" ~ item.id %}
        {% include "admin/forms/edit-genre.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
