{% extends "admin/base.html.twig" %}

{% block mainContent %}

    <article>
        <h1>Genrer</h1>

        <details>
            <summary><h2>Lägg till ny</h2></summary>
            <form method="POST" action="/admin/genres/add">
                <fieldset>
                    <legend>Ny genre</legend>
                    <div class="form-row">
                        <label for="sv">Svenska
                            <input type="text" id="sv" name="sv" size="15" required>
                        </label>
                        <label for="en">Engelska
                            <input type="text" id="en" name="en" size="15" required>
                        </label>
                        <label for="common">
                            <input type="checkbox" id="common" name="common" value="1">
                        Vanlig</label>
                    </div>
                    <button type="submit">Lägg till genre</button>
                </fieldset>
            </form>
        </details>

        {% if genres|length > 0 %}
        <details>
            <summary><h2>Redigera genrer</h2></summary>
        {#<fieldset>
            <legend>Redigera genrer</legend>#}
            <div class="button-list">
            {% for genre in genres %}
                <button popovertarget="edit-form-{{ genre.id }}"
                {% if genre.common %}class="common"{% endif %}>{{ genre.sv }}</button>
            {% endfor %}
            </div>
        {#</fieldset>#}

            {% for genre in genres %}
            <dialog popover id="edit-form-{{ genre.id }}" class="pseudo-modal">
                <div class="dialog-top">
                    <button popovertarget="edit-form-{{ genre.id }}" popovertargetaction="hide">×</button>
                </div>
                <div class="dialog-content">
                    <form method="POST" action="/admin/genres/update">
                        <input type="hidden" name="genre_id" value="{{ genre.id }}">
                        <fieldset>
                            <legend>Redigera genre</legend>
                            <div class="form-row">
                                <label for="edit-sv-{{ genre.id }}">Svenska</label>
                                <input type="text" id="edit-sv-{{ genre.id }}" name="sv" value="{{ genre.sv }}" required>
                            </div>
                            <div class="form-row">
                                <label for="edit-en-{{ genre.id }}">Engelska</label>
                                <input type="text" id="edit-en-{{ genre.id }}" name="en" value="{{ genre.en }}" required>
                            </div>
                            <div class="form-row">
                                <label for="edit-common-{{ genre.id }}">Markera som vanlig
                                    <input type="checkbox" id="edit-common-{{ genre.id }}" name="common" value="1" {% if genre.common %}checked{% endif %}>
                                </label>
                            </div>
                            <div class="form-actions">
                                <button type="submit">Spara</button>
                            </div>
                        </fieldset>
                    </form>
                    <form method="POST" action="/admin/genres/delete" onsubmit="return confirm('Säkert att du vill ta bort genren {{ genre.sv }}?');">
                        <input type="hidden" name="genre_id" value="{{ genre.id }}">
                        <fieldset>
                            <legend>Radera genre?</legend>
                            <div class="form-actions">
                                <button type="submit" class="delete">Ta bort</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </dialog>
            {% endfor %}
        </details>
        {% endif %}

    </article>

{% endblock %}
