{% extends "admin/base.html.twig" %}

{#{% set pagination = {
    'skip': 0,
    'limit': 200
} %} #}

{#{% set filter = {
    'category': 'actor'
} %}#}

{% set categories = {
    'actor': 'Skådespelare',
    'director': 'Regissör',
    'voice_actor': 'Röstskådespelare'
} %}

{% block mainContent %}

    <article>
        <h1>VIP-lista</h1>

        {#<details>
            <summary><h2>Lägg till ny</h2></summary>
            <form method="POST" action="/admin/persons/add">
                <fieldset>
                    <legend>Ny VIP</legend>
                    <div class="form-row">
                        <label for="name">Namn
                            <input type="text" id="name" name="name" size="24" required>
                        </label>
                        <label for="category">Kategori
                            <select type="text" id="category" name="category" required>
                                {% for value, label in categories %}
                                <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="form-row">
                        <label for="birth_date">Födelsedag
                            <input type="date" id="birth_date" name="birth_date" min="1800-01-01" max="2099-12-31">
                        </label>
                        <label for="death_date">Dödsdag
                            <input type="date" id="death_date" name="death_date" min="1800-01-01" max="2099-12-31">
                        </label>
                    </div>
                    <button type="submit">Lägg till person</button>
                </fieldset>
            </form>
        </details>#}

            {#<fieldset>
                <legend>Redigera VIP-lista</legend>#}
                {#<form class="pagination" method="GET" action="/admin/persons">
                    <label for="limit">
                        <input type="number" id="limit" name="limit" size="4" value="{{ pagination.limit }}">
                    per sida</label>
                    <label for="page">Börja på
                        <input type="number" id="page" name="skip" size="2" value="{{ pagination.skip }}">
                    </label>
                </form>#}
                <form class="filter" method="GET" action="/admin/persons">
                    <fieldset>
                        <legend>Filter</legend>
                        <div class="form-row">
                            <label for="search">Sök
                                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
                            </label>
                            <label for="filter-category">Kategori
                                <select id="filter-category" name="category">
                                    <option value="all" {% if params.category == 'all' %}selected{% endif %}>Alla</option>
                                {% for value, label in categories %}
                                    <option value="{{ value }}" {% if params.category == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>
                            </label>
                        </div>

                        <button type="submit">Visa lista</button>
                    </fieldset>
                </form>
                {#{% if params.category != '' %}
                <fieldset>
                    <legend><h3>{{ persons|length }} personer</h3></legend>
                    <div class="button-list">
                    {% for person in persons %}
                        <button class="vip {{ person.category }}" popovertarget="edit-form-{{ person.id }}">{{ person.name }}</button>
                    {% endfor %}
                    </div>
                </fieldset>
                {% endif %}#}
            {#</fieldset>#}

{% set dlg_id = "add-person-dlg" %}
        <div class="button-list">
            <button class="add" id="add-person-button" popovertarget="{{ dlg_id }}">+</button><label for="add-person-button">Lägg till ny</label>

            <div class="items">
            {% for person in persons %}
            <button class="vip {{ person.category }}" popovertarget="edit-form-{{ person.id }}">{{ person.name }}</button>
            {% endfor %}
            </div>
        </div>


        {# Popover-dialoger #}
{% include "admin/components/add-person.html.twig" %}
        {% for item in persons %}
{% include "admin/components/edit-person.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
