{% extends "admin/base.html.twig" %}

{#{% set pagination = {
    'skip': 0,
    'limit': 200
} %} #}

{#{% set filter = {
    'category': 'actor'
} %}#}

{% set categories = {
    'actor': 'Skådespelare',
    'director': 'Regissör',
    'voice_actor': 'Röstskådespelare'
} %}

{% block mainContent %}

    {% if message %}
        <div class="{% if message_type == 'success' %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    <article>
        <h1>VIP-lista</h1>

        <form method="POST" action="/admin/persons/add">
            <fieldset>
                <legend>Ny VIP</legend>
                <div class="form-row">
                    <label for="name">Namn
                        <input type="text" id="name" name="name" size="30" required>
                    </label>
                    <label for="category">Kategori
                        <select type="text" id="category" name="category" required>
                            {% for value, label in categories %}
                            <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="birth_date">Födelsedag
                        <input type="date" id="birth_date" name="birth_date" min="1800-01-01" max="2099-12-31">
                    </label>
                    <label for="death_date">Dödsdag
                        <input type="date" id="death_date" name="death_date" min="1800-01-01" max="2099-12-31">
                    </label>
                </div>
                <button type="submit">Lägg till i VIP-listan</button>
            </fieldset>
        </form>

        <fieldset>
            <legend>Redigera VIP-lista ({{ persons|length }})</legend>
            {#<form class="pagination" method="GET" action="/admin/persons">
                <label for="limit">
                    <input type="number" id="limit" name="limit" size="4" value="{{ pagination.limit }}">
                per sida</label>
                <label for="page">Börja på
                    <input type="number" id="page" name="skip" size="2" value="{{ pagination.skip }}">
                </label>
            </form>#}
            <div class="button-list">
            {% if persons|length == 0 %}<p>Inget att visa</p>{% endif %}
            {% for person in persons %}
                <button popovertarget="edit-form-{{ person.id }}" style="anchor-name: --anchor-person-{{ person.id }}">{{ person.name }}</button>
            {% endfor %}
            </div>
        </fieldset>

        {% for person in persons %}
        {% set dlg_id = 'edit-form-' ~ person.id %}
        <dialog id="{{ dlg_id }}" popover class="pseudo-modal">
            <div class="dialog-top">
                <button popovertarget="{{ dlg_id }}" popovertargetaction="hide">×</button>
            </div>
            <div class="dialog-content">
                <form method="POST" action="/admin/persons/update">
                    <input type="hidden" name="person_id" value="{{ person.id }}">
                    <fieldset>
                        <legend>Grunduppgifter</legend>
                        <div class="form-row">
                            <label for="edit-name-{{ person.id }}">Namn</label>
                            <input type="text" id="edit-name-{{ person.id }}" name="name" value="{{ person.name }}" required>
                        </div>
                        <div class="form-row">
                            <label for="edit-category-{{ person.id }}">Kategori
                                <select type="text" id="edit-category-{{ person.id }}" name="category" required>
                                    {% for value, label in categories %}
                                    <option value="{{ value }}" {% if person.category == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="form-row">
                            <label for="edit-birth-{{ person.id }}">Födelsedag</label>
                            <input type="date" id="edit-birth-{{ person.id }}" name="birth_date" value="{{ person.birth_date }}" min="1800-01-01" max="2099-12-31">
                        </div>
                        <div class="form-row">
                            <label for="edit-death-{{ person.id }}">Dödsdag</label>
                            <input type="date" id="edit-death-{{ person.id }}" name="death_date" value="{{ person.death_date }}" min="1800-01-01" max="2099-12-31">
                        </div>
                        <div class="form-actions">
                            <button type="submit">Spara</button>
                        </div>
                    </fieldset>
                </form>
                <form method="POST" action="/admin/persons/delete" onsubmit="return confirm('Säkert att du vill ta bort {{ person.name }} från VIP-listan?');">
                    <input type="hidden" name="person_id" value="{{ person.id }}">
                    <fieldset>
                        <legend>Radera VIP?</legend>
                        <div class="form-actions">
                            <button type="submit" class="delete">Ta bort från VIP-listan</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </dialog>
        <script>
            ;
            document.getElementById('{{ dlg_id }}').addEventListener('toggle', function() {
                if(document.getElementById('{{ dlg_id }}').style.display){
                    console.log(document.getElementById('{{ dlg_id }}').style.display)
                }
                console.log('Popover visibility has changed.');
            });
        </script>
        {% endfor %}

    </article>

{% endblock %}
