{% extends "admin/base.html.twig" %}

{% set this_page = '/admin/persons' %}
{% set categories = {
    'actor': 'Skådespelare',
    'director': 'Regissör',
    'voice_actor': 'Röstskådespelare'
} %}

{% block mainContent %}

    <article>
        <h1>VIP-lista</h1>

                <form class="filter" method="GET" action="/admin/persons">
                    <details open>
                        <summary>Filter</summary>
                        <div class="form-row">
                            <label for="search">Sök
                                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
                            </label>
                            <label for="filter-category">Kategori
                                <select id="filter-category" name="category">
                                    <option value="all" {% if params.category == 'all' %}selected{% endif %}>Alla</option>
                                {% for value, label in categories %}
                                    <option value="{{ value }}" {% if params.category == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="actions">
                            <button type="submit">Hämta lista</button>
                            <a href="{{ this_page }}" class="form-reset">Rensa filter</a>
                        </div>
                    </details>
                </form>

{% set dlg_id = "add-person-dlg" %}
        <div class="button-list">
            <button class="add" id="add-person-button" popovertarget="{{ dlg_id }}">+</button><label for="add-person-button">Lägg till ny</label>

            <div class="items">
            {% for person in persons %}
            <button class="vip {{ person.category }}" popovertarget="edit-form-{{ person.id }}">{{ person.name }}</button>
            {% endfor %}
            </div>
        </div>


        {# Popover-dialoger #}
{% include "admin/components/add-person.html.twig" %}
        {% for item in persons %}
{% include "admin/components/edit-person.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
