{% extends "admin/base.html.twig" %}

{% set this_page = '/admin/persons' %}
{% set categories = constant('OPT').PERSON_CATEGORIES %}

{% block mainContent %}

    <article>
        <h1>VIP</h1>

        {% include "admin/filters/persons.html.twig" %}

        {% set pop_id = "new-person-dlg" %}
        {% include "admin/forms/new-person.html.twig" %}

        <div class="button-list">

            <button class="add" id="new-person-button" popovertarget="{{ pop_id }}">+</button><label for="new-person-button">Lägg till ny</label>

            {% if persons|length > 0 %}<div class="counter">{{ persons|length }}</div>{% endif %}

            <div class="items">
            {% for item in persons %}
            {% set pop_id = "edit-form-" ~ item.id %}
            <button class="vip {{ item.category }}" popovertarget="{{ pop_id }}">{{ item.name }}</button>
            {% endfor %}
            </div>
        </div>

        {% for item in persons %}
        {% set pop_id = "edit-form-" ~ item.id %}
        {% include "admin/forms/edit-person.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
