{% extends "admin/base.html.twig" %}

{% block mainContent %}

    {% if message %}
        <div class="{% if message_type == 'success' %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

    <article>
        <h1>Personer</h1>

        <form method="POST" action="/admin/persons/add">
            <fieldset>
                <legend>Lägg till person</legend>
                <div class="form-row">
                    <label for="name">Namn
                        <input type="text" id="name" name="name" size="30" required>
                    </label>
                    <label for="birth_date">Födelsedag
                        <input type="date" id="birth_date" name="birth_date" min="1800-01-01" max="2099-12-31">
                    </label>
                    <label for="death_date">Dödsdag
                        <input type="date" id="death_date" name="death_date" min="1800-01-01" max="2099-12-31">
                    </label>
                </div>
            </fieldset>
            <button type="submit">Spara</button>
        </form>

        {% if persons|length > 0 %}
        <fieldset>
            <legend>Redigera personer</legend>
            <div class="button-list">
            {% for person in persons %}
                <button popovertarget="edit-form-{{ person.id }}" style="anchor-name: --anchor-person-{{ person.id }}">{{ person.name }}</button>
            {% endfor %}
            </div>
        </fieldset>

            {% for person in persons %}
            <div id="edit-form-{{ person.id }}" popover style="position-anchor: --anchor-person-{{ person.id }}" class="modal">

                <form method="POST" action="/admin/persons/update">
                    <input type="hidden" name="person_id" value="{{ person.id }}">
                    <fieldset>
                        <legend>Redigera person</legend>

                        <div class="form-row">
                            <label for="edit-name-{{ person.id }}">Namn</label>
                            <input type="text" id="edit-name-{{ person.id }}" name="name" value="{{ person.name }}" required>
                        </div>

                        <div class="form-row">
                            <label for="edit-birth-{{ person.id }}">Födelsedag</label>
                            <input type="date" id="edit-birth-{{ person.id }}" name="birth_date" value="{{ person.birth_date }}" min="1800-01-01" max="2099-12-31">
                        </div>

                        <div class="form-row">
                            <label for="edit-death-{{ person.id }}">Dödsdag</label>
                            <input type="date" id="edit-death-{{ person.id }}" name="death_date" value="{{ person.death_date }}" min="1800-01-01" max="2099-12-31">
                        </div>

                        <button type="submit">Spara</button>
                    </fieldset>

                </form>

                <form method="POST" action="/admin/persons/delete" onsubmit="return confirm('Säkert att du vill ta bort personen {{ person.name }}?');">
                    <input type="hidden" name="person_id" value="{{ person.id }}">
                    <fieldset>
                        <legend>Radera personen {{ person.name }}?</legend>
                        <button type="submit" class="delete">Ta bort</button>
                    </fieldset>
                </form>
            </div>
            {% endfor %}

        {% endif %}

    </article>

{% endblock %}
