{% extends "admin/forms/add-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/genres/add">
    <fieldset>
        <legend>Ny genre</legend>
        <div class="form-row">
            <label for="add-sv-{{ pop_id }}">Svenska</label>
            <input autofocus type="text" id="add-sv-{{ pop_id }}" name="sv" required>
        </div>
        <div class="form-row">
            <label for="add-en-{{ pop_id }}">Engelska</label>
            <input type="text" id="add-en-{{ pop_id }}" name="en" required>
        </div>
        <div class="form-row">
            <label for="add-common-{{ pop_id }}">Markera som vanlig
                <input type="checkbox" id="add-common-{{ pop_id }}" name="common" value="1">
            </label>
        </div>
        <div class="actions">
            <button type="submit">Lägg till</button>
        </div>
    </fieldset>
</form>
{% endblock %}
