{% extends "admin/forms/add-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/movies/crew">
    <input type="hidden" name="movie_id" value="{{ item.movie_id }}">
    <input type="hidden" name="sequence_number" value="{{ item.sequence_number }}">
    <input type="hidden" name="category" value="{{ category }}">
    <fieldset>
        <legend>{{ categories[category] }}</legend>
            <div class="form-row">
                <label for="add-person_name-{{ pop_id }}">Namn</label>
                <input type="text" id="add-person_name-{{ pop_id }}" name="person_name" required>
            </div>
            <div class="form-row">
                <label for="add-person_id-{{ pop_id }}">ID</label>
                <input type="text" id="add-person_id-{{ pop_id }}" name="person_id">
            </div>
            <div class="form-row">
                <label for="add-role_name-{{ pop_id }}">Roll</label>
                <input type="text" id="add-role_name-{{ pop_id }}" name="role_name">
            </div>
            <div class="form-row">
                <label for="add-note-{{ pop_id }}">Notering</label>
                <input type="text" id="add-note-{{ pop_id }}" name="note">
            </div>
            <div class="actions">
                <button type="submit">Lägg till</button>
            </div>
    </fieldset>
</form>
{% endblock %}
