{% extends "admin/forms/add-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/movies/crew/add">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <input type="hidden" name="sequence_number" value="{{ item.persons[category]|length + 1 }}">
    <input type="hidden" name="category" value="{{ category }}">
    <fieldset>
        <legend>Lägg till {{ categories[category]|lower }}</legend>
            <div class="form-row">
                <label for="add-person_name-{{ pop_id }}">Namn</label>
                <input type="text" id="add-person_name-{{ pop_id }}" name="person_name" required>
            </div>
            <div class="form-row">
                <label for="add-person_id-{{ pop_id }}">ID</label>
                <input type="text" id="add-person_id-{{ pop_id }}" name="person_id">
            </div>
            {% if category == 'actor' %}
            <div class="form-row">
                <label for="add-role_name-{{ pop_id }}">Roll</label>
                <input type="text" id="add-role_name-{{ pop_id }}" name="role_name">
            </div>
            {% endif %}
            <div class="form-row">
                <label for="add-note-{{ pop_id }}">Notering</label>
                <input type="text" id="add-note-{{ pop_id }}" name="note">
            </div>
            <div class="actions">
                <button type="submit">Lägg till</button>
            </div>
    </fieldset>
</form>
{% endblock %}
