{% extends "admin/forms/add-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/persons/add">
    <fieldset>
        <legend>Ny person</legend>
        <div class="form-row">
            <label for="add-name-{{ item.id }}">Namn</label>
            <input autofocus type="text" id="add-name-{{ item.id }}" name="name" required>
        </div>
        <div class="form-row">
            <label for="add-category-{{ item.id }}">Kategori
                <select type="text" id="add-category-{{ item.id }}" name="category" required>
                    {% for value, label in categories %}
                    <option value="{{ value }}"{% if params.category == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-row">
            <label for="add-birth-{{ item.id }}">Födelsedag</label>
            <input type="date" id="add-birth-{{ item.id }}" name="birth_date" min="1800-01-01" max="2099-12-31">
        </div>
        <div class="form-row">
            <label for="add-death-{{ item.id }}">Dödsdag</label>
            <input type="date" id="add-death-{{ item.id }}" name="death_date" min="1800-01-01" max="2099-12-31">
        </div>
        <div class="actions">
            <button type="submit">Spara</button>
        </div>
    </fieldset>
</form>
{% endblock %}
