{% extends "admin/forms/details-base.html.twig" %}

{% block content %}

<form method="POST" action="/admin/movies/{{ item.id }}/genres"> {# Vet inte riktigt hur vi ska göra detta #}
    <input type="hidden" name="form_redirect" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">

    {{ item.genres|length }}
    {% for genre in item.genres %}
    {{ genre|string }}
    {% endfor %}

</form>

{% endblock %}
