{% extends "admin/forms/details-base.html.twig" %}

{% block content %}

<form method="POST" action="/admin/movies/{{ item.id }}/genres"> {# Vet inte riktigt hur vi ska göra detta #}
    <input type="hidden" name="form_redirect" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">

    <div class="button-list">
        <button id="add-genres-button" popovertarget="{{ dlg_id }}">+</button><label for="add-genres-button">Lägg till</label>
        <div class="items">
        {% for genre in item.genres %}
            <button class="genre {% if genre.common == 1 %}common{% endif %}">{{ genre.sv }}</button>
        {% endfor %}
        </div>
    </div>

</form>

{% endblock %}
