{% extends "admin/forms/edit-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/movies/crew">
    <input type="hidden" name="movie_id" value="{{ item.movie_id }}">
    <input type="hidden" name="person_id" value="{{ item.person_id }}">
    <input type="hidden" name="sequence_number" value="{{ item.sequence_number }}">
    <input type="hidden" name="category" value="{{ category }}">
    <fieldset>
        <legend>{{ categories[category] ~ "" ~ item.sequence_number }}</legend>
            <div class="form-row">
                <label for="edit-person_name-{{ category }}-{{ item.sequence_number }}">Namn</label>
                <input type="text" id="edit-person_name-{{ category }}-{{ item.sequence_number }}" name="person_name" value="{{ item.person_name }}" required>
            </div>
            <div class="form-row">
                <label for="edit-role_name-{{ category }}-{{ item.sequence_number }}">Roll</label>
                <input type="text" id="edit-role_name-{{ category }}-{{ item.sequence_number }}" name="role_name" value="{{ item.role_name }}" required>
            </div>
            <div class="form-row">
                <label for="edit-note-{{ category }}-{{ item.sequence_number }}">Notering</label>
                <input type="text" id="edit-note-{{ category }}-{{ item.sequence_number }}" name="note" value="{{ item.note }}" required>
            </div>
            <div class="actions">
                <button type="submit">Spara</button>
            </div>
    </fieldset>
</form>
{% endblock %}
