{% extends "admin/forms/edit-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/movies/update">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <fieldset>
        <legend>Recension</legend>
        {# OBS!! Detta ska sedan hämta användarens personliga betyg, då man inte ska kunna redigera filmens betyg direkt #}
        {# Detta ifall man senare kommer fram till att fler personer ska kunna lägga in betyg och filmens rating blir ett genomsnitt #}
        {# Lägger in filmens rating här så länge bara för att jobba med designen #}
        {% set review = item %} {# Tillfällig mappning; sedan ska ju användarens riktiga recension hämtas #}
        <div class="form-row">
            <label for="edit-rating-{{ review.id }}">Betyg
                <input type="number" size="3" min="0" max="100" id="edit-rating-{{ review.id }}" name="rating" {% if review.rating %}value="{{ review.rating }}"{% endif %}>
            </label>
        </div>
        <div class="form-row">
            <label for="edit-comment-{{ item.id }}">Kommentar
                <textarea id="edit-comment-{{ item.id }}" name="comment">{{ item.description }}</textarea>
            </label>
        </div>
        <div class="actions">
            <button type="submit">Spara</button>
        </div>
    </fieldset>
</form>

<ul class="actions">
    <li><a href="{{ '/admin/movies/' ~ item.id }}">Redigera detaljer</a></li>
    {% if item.hidden == 1 %}
    {% set pop_id = "publish-form-" ~ item.id %}
    {% set pop_title = null %}
    {% include "admin/forms/publish-movie.html.twig" %}
    <button popovertarget="{{ pop_id }}">Publicera</button>
    {% endif %}
</ul>

<details class="danger">
    <summary>Farozon</summary>
<form method="POST" action="/admin/movies/delete" onsubmit="return confirm('Säkert att du vill ta bort {{ item.title }}? ({{ item.id }})');">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <button type="submit" class="delete">Ta bort film?</button>
</form>
</details>
{% endblock %}
