{% extends "admin/forms/edit-base.html.twig" %}

{% set su_id = constant('API').SUPER_USER_ID %}
{% for review in item.reviews %}
    {% if reviev.user_id == su_id %}
        {% set su_review = review %}
    {% endif %}
{% endfor %}

{% block content %}
<form method="POST" action="/admin/reviews">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <fieldset>
        <legend>Recension</legend>
        <div class="form-row">
            <label for="edit-rating-{{ su_review.id }}">Betyg
                <input type="number" size="3" min="0" max="100" id="edit-rating-{{ su_review.id }}" name="rating" {% if su_review.rating %}value="{{ su_review.rating }}"{% endif %}>
            </label>
        </div>
        <div class="form-row">
            <label for="edit-comment-{{ su_review.id }}">Kommentar
                <textarea id="edit-comment-{{ su_review.id }}" name="comment">{{ su_review.comment }}</textarea>
            </label>
        </div>
        <div class="actions">
            <button type="submit">Spara</button>
        </div>
    </fieldset>
</form>

{% set unpublish_form_id = "unpublish-form" ~ item.id %}
{% if item.hidden == 1 %}
    {% set pop_id = "publish-form-" ~ item.id %}
    {% set pop_title = null %}
    {% include "admin/forms/publish-movie.html.twig" %}
{% else %}
    {% set form_id = unpublish_form_id %}
    {% include "admin/forms/unpublish-movie.html.twig" %}
{% endif %}

<ul class="actions">
{% if item.hidden == 1 %}
    <li><button popovertarget="{{ pop_id }}">Publicera</button></li>
{% else %}
    <li><button type="submit" form="{{ unpublish_form_id }}">Avpublicera</button></li>
{% endif %}
    <li><a href="{{ '/admin/movies/' ~ item.id }}">Redigera detaljer</a></li>
</ul>

<details class="danger">
    <summary>Farozon</summary>
<form method="POST" action="/admin/movies/delete" onsubmit="return confirm('Säkert att du vill ta bort {{ item.title }}? ({{ item.id }})');">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <button type="submit" class="delete">Ta bort film?</button>
</form>
</details>
{% endblock %}
