<form id="{{ form_id }}" method="POST" action="/admin/movies/update" onsubmit="return confirm('Säkert att du vill dölja {{ item.title }}? ({{ item.id }})');">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <input type="hidden" name="hidden" value="1">
</form>
