<nav popover class="main menu" id="main-menu">
    <header>
        <nav>
            <button popovertarget="main-menu" popovertargetaction="hide"><span aria-hidden="true">×</span></button>
        </nav>
        {#<h2>Sven Admin</h2>#}
    </header>
    <section class="content">
        <form {#style="display:none;"#} action="search.php" method="get">
            <input type="search" id="main-menu-search-input" required name="query" value="">
            <button type="submit">Sök</button>
        </form>

        {% set nav_counter = 0 %}
        {% macro node(nav_cat) %}
        {% for nav_item in nav_cat.items %}
        {% set nav_counter = nav_counter + 1 %}
        <li>
            {% if nav_item.href %}
            {% if nav_item.inactive != true %}
                <a href="{{ nav_item.href }}">
            {% else %}
                <a href="#">
            {% endif %}
                    {{ nav_item.label }}
                </a>
            {% else %}
                <button type="button" popovertarget="menu{{ nav_counter }}" style="anchor-name:--menu{{ nav_counter }}">{{ nav_item.label }}</button>
                <nav popover class="sub menu" id="menu{{ nav_counter }}" style="
                    position-anchor: --menu{{ nav_counter }};
                    top: anchor(top);
                    right: anchor(left);
                ">Test</nav>
            {% endif %}
        </li>
        {% endfor %}
        {% endmacro %}

        <ul>
            {% for nav_key, nav_cat in nav_list %}
            <li>{{ nav_key }}
                <ul>
                    {{ _self.node(nav_cat) }}
                </ul>
            </li>
            {# <li>{{ nav_key }}<ul>
                {% for nav_item in nav_cat.items %}
                <li>
                {% if nav_item.inactive != true %}
                    <a href="{{ nav_item.href }}">
                {% else %}
                    <a href="#">
                {% endif %}
                        {{ nav_item.label }}
                    </a>
                </li>
                {% endfor %}
            </ul></li> #}
            {% endfor %}
            <li><p>Inloggad som {{ user.username }} <a href="/admin/logout">Logga ut</a></p></li>
        </ul>
    </section>
</nav>
