{% extends "admin/details/base.html.twig" %}

{% set legend = 'Medverkande' %}

{% block content %}

{% for category, label in categories %}
<details open>
    <summary>{{ label }}</summary>

    {% set new_sequence_number = item.persons[category]|last.sequence_number + 1 %}

    {% set pop_id = "add-" ~ category ~ "-dlg" %}
    {% include "admin/forms/add-crew_member.html.twig" %}
        <button class="add" id="add-{{ category }}-button" popovertarget="{{ pop_id }}">+</button><label for="add-{{ category }}-button">Lägg till</label>

        <div class="counter">{{ item.persons[category]|length }}</div>

    <div class="{{ category }} grid-table">
    {% for sub_item in item.persons[category] %}
        {% set pop_id = "edit-" ~ category ~ "-" ~ sub_item.sequence_number %}
        {% include "admin/forms/edit-crew_member.html.twig" %}
        <button popovertarget="{{ pop_id }}">{{ sub_item.sequence_number }}</button>
        <span class="name">{{ sub_item.person_name }}</span>
        {% if category == 'actor' %}
        <span class="role">{{ sub_item.role_name }}</span>
        {% endif %}
        <span class="note">{{ sub_item.note }}</span>
    {% endfor %}
    </div>
</details>

{% endfor %}

{% endblock %}
