{% extends "admin/forms/edit-base.html.twig" %}
{% block content %}
<form method="POST" action="/admin/movies/update">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <input type="hidden" name="hidden" value="0">
    <fieldset>
        <legend>Publicering</legend>
            <div class="form-row">
                <label for="edit-sorting_title-{{ item.id }}">Sorteringstitel</label>
                <input type="text" id="edit-sorting_title-{{ item.id }}" name="sorting_title" value="{{ item.sorting_title }}" required>
            </div>
            <div class="form-row">
                {% set added_date_value = "now"|date("Y-m-d") %}
                {% if item.added_date %}{% set added_date_value = item.added_date %}{% endif %}
                <label for="edit-added_date-{{ item.id }}">Datum
                    <input type="date" id="edit-added_date-{{ item.id }}" name="added_date" value="{{ added_date_value }}" required>
                </label>
            </div>
        <div class="actions">
            <button type="submit">Publicera</button>
            <button type="button" popovertarget="{{ pop_id }}" popovertargetaction="hide">Avbryt</button>
        </div>
    </fieldset>
</form>
{% endblock %}
