{% extends "admin/filters/base.html.twig" %}

{% block content %}
        <div class="form-row">
            <label for="search">Sökord
                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
            </label>
            <label for="filter-type">Typ
                <select id="filter-type" name="type" required>
                {% for value, label in types %}
                    <option value="{{ value }}" {% if params.type == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </select>
            </label>
            <label for="filter-year">År
                <input type="number" size="4" min="1888" max="2099" id="filter-year" name="year" {% if params.year %}value="{{ params.year }}"{% endif %}>
            </label>
            <label for="filter-rating">Betyg
                <input type="number" size="3" min="0" max="100" id="filter-rating" name="rating" {% if params.rating %}value="{{ params.rating }}"{% endif %}>
            </label>
            <label for="filter-hidden">
                <input type="checkbox" id="filter-hidden" name="hidden" {% if params.hidden %}checked{% endif %}>
            Endast dolda</label>
        </div>
{% endblock %}
