{% set nav_list = {
    'Innehåll': { 'items': [
{ label: 'Feed (startsida)', href: '/admin/feed', inactive: true },
{ label: 'Videorecensioner', href: '/admin/videos', inactive: true },
{ label: 'Artiklar/texter', href: '/admin/articles', inactive: true },
    ] },
    'Listor': { 'items': [
{ label: 'Filmer', href: '/admin/films' },
{ label: 'Serier', href: '/admin/series', inactive: true },
{ label: 'VIP', href: '/admin/persons' },
    ] },
    'Kategorier': { 'items': [
{ label: 'Genrer', href: '/admin/genres' },
{ label: 'Relationer', href: '/admin/relations', inactive: true },
{ label: 'Utmärkelser', href: '/admin/awards', inactive: true },
    ] },
} %}
{#
    'Inställningar': { 'items': [
{ label: 'Allmänt', href: '/admin/general', inactive: true },
{ label: 'Text i gränssnittet', href: '/admin/texts', inactive: true },
    ] },
#}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | {{ constant('API').ADMIN_SITE_NAME }}</title>
    {% for href in constant('API').EXTERNAL_CSS %}<link rel="stylesheet" href="{{ href }}">{% endfor %}
</head>
<body>
    {% if error %}
    <div class="error message">
        {{ error }}
    </div>
    {% endif %}
    {% if message %}
    <div class="{{ message_type }} message">
        {{ message }}
    </div>
    {% endif %}

    {% block bodyStart %}
{# Länk för tillgänglighet #}
    <a class="skip-link" href="#main-content">Hoppa till huvudinnehållet</a>
    {% endblock %}

    {% block header %}
        {% include "admin/header.html.twig" %}
    {% endblock %}

{# Huvudinnehåll #}
    <main id="main-content" {% block mainAttr %}{% endblock %}>

        {% block mainContent %}{% endblock %}

    </main>

    {% block footer %}
        {% include "admin/footer.html.twig" %}
    {% endblock %}

{% include "admin/scripts.html.twig" %}
</body>
</html>
