{% extends "admin/base.html.twig" %}

{% set this_page = '/admin' %}
{% set filmTypes = constant('OPT').MOVIE_TYPES.FILMS %}

{% set page_nav = {
    'Snabbstart': { items: [
{ label: 'Snabbinmatning', id: 'snabbinmatning' },
{ label: 'Dolda filmer', id: 'dolda', condition: (hidden_movies|length > 0) },
{ label: 'Senast publicerade', id: 'senaste' },
    ] },
    'Meny': { items: [
{ label: 'Innehåll', id: 'innehall' },
{ label: 'Listor', id: 'listor' },
{ label: 'Kategorier', id: 'kategorier' },
    ] },
} %}

{% block mainContent %}
    <article>
        <h1>{{ constant('API').ADMIN_SITE_NAME }}</h1>

        <details{% if params.quick == 1 %} open{% endif %}>
            <summary><h2 id="snabbinmatning">Snabbinmatning</h2></summary>
                <p>Filmer inmatade här är dolda tills du aktivt valt att publicera dem.</p>
                <form method="post" action="/admin/movies/add">
                    <input type="hidden" name="redirect_url" value="{{ this_page }}?quick=1">
                    <fieldset>
                        <legend>Ny film</legend>
                        <div class="form-row">
                            <label for="add-movie-type">Typ
                                <select type="text" id="add-movie-type" name="type" required>
                                    {% for value, label in filmTypes %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label for="add-movie-title">Titel
                                <input required name="title" id="add-movie-title" type="text" {% if params.quick %}autofocus{% endif %}>
                            </label>
                            <label for="add-movie-year">År
                                <input type="number" min="1888" max="2099" size="4" name="year" id="add-movie-year">
                            </label>
                        </div>
                        <div class="form-row">
                            <label for="rating" class="rating-selector">Betyg
                                <input type="number" min="0" max="100" size="3" name="rating" id="rating">
                                <div class="range-labels">
                                    <input type="range" id="rating-slider" list="main-ratings">
                                    <datalist id="main-ratings">
                                        <option value="0" label="-"></option>
                                        <option value="20" label="+"></option>
                                        <option value="40" label="++"></option>
                                        <option value="60" label="+++"></option>
                                        <option value="80" label="++++"></option>
                                        <option value="100" label="+++++"></option>
                                    </datalist>
                                </div>
                            </label>
                        </div>
                        <ul class="actions">
                            <li><button type="submit">Mata in</button></li>
                            <li><a href="{{ this_page }}" class="form-reset">Avbryt</a></li>
                        </ul>
                    </fieldset>
                </form>
        </details>

        {% if hidden_movies|length > 0 %}
        <details>
            <summary><h2 id="dolda">Dolda filmer ({{ hidden_movies|length }})</h2></summary>
            <div class="button-list">
            {% for item in hidden_movies %}
                {% set pop_id = "edit-form-" ~ item.id %}
                {% set pop_title = item.title %}
                {% include "admin/forms/edit-movie.html.twig" %}
                <button class="movie {{ item.type }} hidden" popovertarget="{{ pop_id }}">{{ item.title }}</button>
            {% endfor %}
            </div>
        </details>
        {% endif %}

        <details>
        <summary><h2 id="senaste">Senast publicerade</h2></summary>
        <div class="button-list">
        {% for item in latest_movies %}
            {% set pop_id = "edit-form-" ~ item.id %}
            {% set pop_title = item.title %}
            {% include "admin/forms/edit-movie.html.twig" %}
            <button class="movie {{ item.type }}" popovertarget="{{ pop_id }}" title="{{ item.added_date }}">{{ item.title }}</button>
        {% endfor %}
        </div>
        </details>

        <nav>
            {% for nav_key, nav_cat in nav_list %}
            <div>
            <h2 id="{{ nav_cat.id }}">{{ nav_key }}</h2>
            <ul>
                {% for nav_item in nav_cat.items %}
                <li>{% if nav_item.inactive != true %}<a href="{{ nav_item.href }}">{% endif %}{{ nav_item.label }}{% if nav_item.inactive != true %}</a>{% endif %}</li>
                {% endfor %}
            </ul>
            </div>
            {% endfor %}
        </nav>

    </article>
{% endblock %}
