{% extends "admin/base.html.twig" %}

{% set this_page = '/admin/series' %}
{% set types = constant('OPT').MOVIE_TYPES.SERIES_MAIN %}

{% block mainContent %}

    <article>
        <h1>{{ pageTitle }}</h1>

        {% include "admin/filters/movies.html.twig" %}

        {% set pop_id = "new-series-dlg" %}
        {% include "admin/forms/new-series.html.twig" %}

        <div class="button-list">

            <button class="add" id="new-series-button" popovertarget="{{ pop_id }}">+</button><label for="new-series-button">Lägg till ny</label>

            {% if movies|length > 0 %}<div class="counter">{{ movies|length }}</div>{% endif %}

            <div class="items">
            {% for item in movies %}
            {% set pop_id = "edit-form-" ~ item.id %}
            <button class="movie {{ item.type }}{% if item.hidden == 1 %} hidden{% endif %}" popovertarget="{{ pop_id }}">{{ item.title }}</button>
            {% endfor %}
            </div>
        </div>

        {% for item in movies %}
        {% set pop_id = "edit-form-" ~ item.id %}
        {% include "admin/forms/edit-series.html.twig" %}
        {% endfor %}


    </article>

{% endblock %}
