        {% set dlg_id = 'edit-form-' ~ film.id %}
        <dialog id="{{ dlg_id }}" popover class="pseudo-modal">
            <div class="dialog-top">
                <button popovertarget="{{ dlg_id }}" popovertargetaction="hide">×</button>
            </div>
            <div class="dialog-content">
                <form method="POST" action="/admin/movies/update">
                    <input type="hidden" name="form_redirect" value="/admin/films">
                    <input type="hidden" name="movie_id" value="{{ film.id }}">
                    <fieldset>
                        <legend>Grunduppgifter</legend>
                        <div class="form-row">
                            <label for="edit-title-{{ film.id }}">Titel</label>
                            <input type="text" id="edit-title-{{ film.id }}" name="title" value="{{ film.title }}" required>
                        </div>
                        <div class="form-row">
                            <label for="edit-type-{{ film.id }}">Typ
                                <select type="text" id="edit-type-{{ film.id }}" name="type" required>
                                    {% for value, label in types %}
                                    <option value="{{ value }}" {% if film.type == value %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>

                        <div class="form-actions">
                            <button type="submit">Spara</button>
                        </div>
                    </fieldset>
                </form>
                <form method="POST" action="/admin/movies/delete" onsubmit="return confirm('Säkert att du vill ta bort {{ film.title }}? ({{ film.id }})');">
                    <input type="hidden" name="form_redirect" value="/admin/films">
                    <input type="hidden" name="movie_id" value="{{ film.id }}">
                    <fieldset>
                        <legend>Radera</legend>
                        <div class="form-actions">
                            <button type="submit" class="delete">Ta bort film</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </dialog>
