{% extends "admin/details/base.html.twig" %}

{% set legend = 'Grundläggande uppgifter' %}

{% block content %}

<form method="POST" action="/admin/movies/update">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <div class="form-row">
        <label for="edit-type">Typ
            <select type="text" id="edit-type" name="type" required{% if type_cat == 'SERIES_MAIN' %} disabled{% endif %}>
            {% for value, label in types %}
                <option value="{{ value }}" {% if item.type == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
            </select>
        </label>
        <label for="edit-year">År
            <input type="number" min="1888" max="2099" size="4" name="year" id="edit-year" value="{{ item.year }}">
        </label>
    </div>
    {% if type_cat == 'SERIES_SUB' %}
    <details>
        <summary>{{ types[item.type] }}</summary>
        <label for="display-sequence">#
            <input disabled type="number" size="3" id="display-sequence" value="{{ item.sequence_number }}">
        </label>
        <label for="display-sequence_2">–
            <input disabled type="number" size="3" id="display-sequence_2" value="{{ item.sequence_number_2 }}">
        </label>
    </details>
    {% endif %}
    <div class="form-row">
        <label for="edit-title">Titel
            <input type="text" id="edit-title" name="title" value="{{ item.title }}" required>
        </label>
        <label for="edit-original_title">Originaltitel
            <input type="text" id="edit-original_title" name="original_title" value="{{ item.original_title }}">
        </label>
    </div>
    <div class="form-row">
        <label for="edit-sorting_title">Sorteringstitel
            <input type="text" id="edit-sorting_title" name="sorting_title" value="{{ item.sorting_title }}">
        </label>
        <label for="edit-added_date">Publiceringsdatum
            <input type="date" id="edit-added_date" name="added_date" value="{{ item.added_date }}">
        </label>
    </div>
    <div class="form-row">
        <label for="edit-description">Kort beskrivning
            <textarea id="edit-description" name="description">{{ item.description }}</textarea>
        </label>
    </div>
    <div class="form-row">
        <label for="display-id">SU-ID
            <input disabled type="text" id="display-id" value="{{ item.id }}">
        </label>
        <label for="edit-imdb_id">IMDb-ID
            <input type="text" id="edit-imdb_id" name="imdb_id" value="{{ item.imdb_id }}">
        </label>
    </div>
    <div class="actions">
        <button type="submit">Spara</button>
    </div>
</form>

{% endblock %}
