{% extends "admin/details/base.html.twig" %}

{% set legend = 'Säsonger och avsnitt' %}

{% block content %}

{% set pop_id = "add-season-dlg" %}
<div class="actions">
    <button class="add" id="add-to-series-button" popovertarget="{{ pop_id }}">+</button>
</div>
{% include "admin/forms/new-season.html.twig" %}

<ol class="seasons">
    {% for season in item.seasons %}
    <li data-numbering="{{ season.sequence_number }}{% if season.sequence_number_2 %}–{{ season.sequence_number_2 }}{% endif %}"><a href="/admin/season/{{ season.id }}">{{ season.title }}</a>
        <ol class="episodes">
            {% for episode in season.episodes %}
            <li data-numbering="{{ episode.sequence_number }}{% if episode.sequence_number_2 %}–{{ episode.sequence_number_2 }}{% endif %}"><a href="/admin/movies/{{ episode.id }}">{{ episode.title }}</a></li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ol>

{% endblock %}
